<html>
<head>
	<title>Review a student</title>
</head>
<body>
	<h1></h1>
	<p>Select a student to review</p>
	<p>Click <a href="students/review/form">here</a> to review a student by ID.</p>

	<ul>
    	<% @students.each do |student| %>
      		<li>ID:<%= student['id'] %>, <%= student['name'] %></li>
   	 	<% end %>
  	</ul>

  	<p><b>Reviews:</b></p>

</body>
</html>