#contact-info {
    font-size: .8em;
}



.job {
    background-color: #e9e5dc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.list-small {
    font-size: .8em;
}

/*Release 3.1*/
.list-small {
    font-size: .9em;
    /*cascading element. 
    The browser renders from top to bottom,
    the browser will make changes based on how specific
    certain rulesets are. ids' will be more specific than class,
    so it's modifications will be the one applied*/
}

/*Release 3.2*/
h3:hover {
color: red;
}

section.volunteer-gig > h3 {

font-size: 2em;
color: blue;

}